.map-wrapper {
  max-width: 1000px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.map-inner {
  position: relative;
}

#worldMap {
  width: 100%;
  aspect-ratio: 2 / 1;
}

#marker {
  position: absolute;
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
